/.emacs.d/.cask
/.emacs.d/auto-save-list/

/.emacs.d/backups/*
!/.emacs.d/backups/.keep

/.emacs.d/recentf
/.emacs.d/history
/.emacs.d/bookmarks
/.emacs.d/ac-comphist.dat
/.emacs.d/eww-bookmarks
/.emacs.d/url/
